﻿
@model IEnumerable<VideoJuegos>
@{
    ViewData["Title"] = "CRUD Videojuegos";
}

<h1>Videojuegos</h1>
<a asp-action="RegistrarVideojuego" class="btn btn-primary mb-3">Registrar elemento</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Consola</th>
            <th>Genero</th>
            <th>Clasificación de Edad</th>
            <th>Acciones</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var videoJuego in Model)
        {
                <tr>
                    <td>
                        @videoJuego.Nombre
                    </td>
                    <td>
                        @videoJuego.Consola
                    </td>
                    <td>
                        @videoJuego.Genero
                    </td>
                    <td>
                        @videoJuego.ClasificacionEdad
                    </td>
                    <td>
                        <div style="display: flex;">
                            <a class="btn btn-danger" asp-action="BorrarVideojuego" asp-route-id="@videoJuego.Id" style="margin-right: 5px;">Borrar</a>
                            <a class="btn btn-primary" asp-action="EditarVideojuego" asp-route-id="@videoJuego.Id">Editar</a>
                        </div>
                    </td>
                </tr>
        }
    </tbody>
</table>